@import url("tailwind.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Corinthia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Corinthia&family=Yuji+Boku&display=swap");

html,
body {
  display: flex;
  justify-content: center;
  align-items:stretch;
  align-content: stretch;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #16181d; */
  /* background-color: #040404;
  color: #fff; */
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  font-family: "Yuji Boku", cursive;
}

.imgw {
  max-width: max-content;
}

.splashLogo {
  font-family: "Poppins", cursive;
  font-weight: bold;
  font-size: 10vw;
  line-height: 0.9;
}

.vertical-rotate {
  transform: rotate(180deg);
  text-transform: uppercase;
  writing-mode: vertical-lr;
}

hr {
  margin-bottom: 20px;
}